@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* CSS Document */
html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    overflow: auto;
    width: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    overflow: auto;
    width: 100%;
}


section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.zawartosc1200 {
    max-width: 1200px;
    margin: auto;
}

.zawartosc1200_pierwsza {
    max-width: 1200px;
    margin: auto;
    margin-bottom: 25em;
    display: flex;
    flex-direction: column;
    gap: 5em;
}

.zawartosc1200_pierwsza h2 {
    font-size: 1.5em;
}


#haslo {
    border-radius: 2em;
    background-color: rgba(213, 170, 175, 1.00);
    padding: 2em;
    height: 100%;
    color: black;
    line-height: 2em;
    margin-top: 1em;
    text-align: center;
}

nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    z-index: 2;
}

nav ol {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    background-color: rgba(213, 170, 175, 1.00);
    border-radius: 20px;
    padding: 0 2em;
}

nav ol li a {
    color: white;
    padding: 1em;
    text-decoration: none;
}

nav ol li a:hover {
    color: #D5E3A1;
}

/*nawigacja smartfonu*/
.burger {
    background-color: rgba(213, 170, 175, 1.00);
    font-size: 4em;
    color: white;
    margin: 0.5em 0.4em 0.1em;
    padding: 5px 10px;
    position: fixed;
    border-radius: 2px;
    right: 0.1em;
    cursor: pointer;
    display: none;
    border-radius: 1em;
}

.nakladka {
    height: 100vh;
    width: 0%;
    position: fixed;
    top: 0;
    right: 0;
    overflow: hidden;
    transition: 1s;
    z-index: 1;
    display: none;
}

.nakladka ul {
    height: 100vh;
    background-color: rgba(213, 170, 175, 1.00);
    position: relative;
    text-align: center;
    padding-top: 200px;
}

.nakladka ul a {
    line-height: 3em;
    text-decoration: none;
    display: block;
    color: white;
}

.nakladka ul a:hover {
    background-color: #B5E1F7;
    color: black;
}

.closebutton {
    position: absolute;
    top: 1em;
    right: 1em;
    font-size: 4em;

    padding: 0.2em 0.4em;
    text-decoration: none;
    color: white;
    z-index: 10;
    display: none;
}

#logo_lewo {
    margin-top: 15em;
    display: flex;
    flex-direction: row;
    gap: 5em;
}

#logo_lewo img {
    width: 376px;
}

#logo_lewo p {
    font-size: 2em;
    border-radius: 2em;
    background-color: rgba(213, 170, 175, 1.00);
    padding: 1em;
    color: black;
    line-height: 1.5em;
    text-align: center;
}

#dziecko1{
    margin-left: 30em;

}
#dziecko1 img{
    border-radius: 2em;
}
.dummy img{
    display: none;
}

#logo {
    padding: 0.5em;
    font-size: 2em;
    font-weight: bold;
    color: white;
}

#logo span {
    color: #B5E1F7;
}


#pierwsza {
    background-image: url("../img/tlo_glowne.png");
    background-size: cover;
    background-position: center;

}

#pierwsza h1 {
    position: absolute;
    left: 0;
    bottom: 0px;
    background-color: rgba(213, 170, 175, 1.00);
    width: 30vw;
    padding: 1em;
    border-radius: 0em 1em 1em 0em;
    font-size: 1.5em;
    color: black;
}

#pierwsza p {
    line-height: 2em;
    font-size: 25px;
}


#druga {
    background-image: url("../img/tlo_onas.png");
    background-size: cover;
    background-position: center;
}

#druga h1 {
    position: absolute;
    right: 0;
    top: 1800px;
    background-color: white;
    width: 10vw;
    padding: 1em;
    border-radius: 1em 0 0 1em;
    font-size: 2em;
}

#druga p {
    line-height: 2em;
}

#druga article img {
    width: 50%;
}

#podpisy_biznesowe {
    display: flex;
    flex-direction: initial;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    gap: 26.5em;
}

#podpisy_biznesowe p {
    font-size: 1em;
    text-align: center;
    gap: 5em;
}

#zdjecia_biznesowe {
    display: flex;
    flex-direction: revert;
    padding: 1em;
    gap: 10em;
    justify-content: center;
}

#zdjecia_biznesowe img {
    margin: 1em;
}

#podpis {
    padding: 0.25em;
    font-size: 1.5em;
    margin-top: 1em;
}

.zawartosc1200_druga {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: justify-all;
}

#trzecia {
    background-image: url("../img/tlo_oferta.png");
    background-size: cover;
    background-position: center;
}

#trzecia h1 {
    position: absolute;
    top: 2800px;
    background-color: white;
    width: 10vw;
    padding: 1em;
    border-radius: 0 1em 1em 0;
    font-size: 2em;
}

.zawartosc1200_trzecia {
    max-width: 1200px;
    margin: auto;
}

#trzecia p {
    line-height: 1.3em;
}

#trzecia article {
    display: flex;
}

#oferta {
    margin-right: 40em;
    font-size: 25px;
    width: 100%;
}

#oferta a {
    text-decoration: none;
    color: black;
}


#czwarta {
    background-image: url("../img/tlo_warsztaty.png");
    background-size: cover;
    background-position: center;
}

#czwarta article {

}

#czwarta h1 {
    position: absolute;
    right: 0;
    top: 3800px;
    background-color: white;
    width: 20vw;
    padding: 1em;
    border-radius: 1em 0 0 1em;
    font-size: 2em;
}

.zawartosc1200_czwarta {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
}

#warsztaty {
    margin-right: 10em;
}

#warsztaty p {
    line-height: 2em;
    font-size: 20px;
}

#warsztaty h2 {
    font-size: 25px;
}

.oboksiebie {
    display: flex;
    justify-content: center;
    gap: 4em;
    margin-bottom: 4em;
}

.oboksiebie img {
    width: 100%;
}

.oboksiebie h3 {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1em;
    margin-top: 2em;
    border-radius: 1em;
}

#piata {
    background-image: url("../img/tlo_cennik.png");
    background-position: center;
    background-size: cover;
}

#piata article {
    display: flex;
}

#piata h1 {
    position: absolute;
    top: 4800px;
    right: 0px;
    background-color: white;
    width: 10vw;
    padding: 1em;
    border-radius: 1em 0em 0em 1em;
    font-size: 2em;
}

#piata article p {
    padding-left: 7vw;
    line-height: 1.4em;
    color: black;
}

#piata article img {
    width: 50%;
}

.zawartosc1200_piata {
    display: flex;
    flex-direction: column;
    gap: 10em;
}

#cennik {
    margin-top: 20em;
    margin-left: 5em;
    width: 80em;
}

#cennik p {
    font-size: 55px;
}

#link {
    width: 20em;
    margin-left: 5em;
}

#link p {
    font-size: 55px;
}

#szosta {
    background-image: url("../img/tlo_kontakt.png");
    background-position: center;
    background-size: cover;
}

#szosta h1 {
    position: absolute;
    right: 0;
    top: 5800px;
    background-color: white;
    width: 20vw;
    padding: 1em;
    border-radius: 1em 0 0 1em;
    font-size: 2em;
}

.zawartosc1200_szosta {
    display: flex;
    flex-direction: row;
    gap: 20em;
}

#kontakt {
    width: 2000px;
    margin-top: 15em;
    font-size: 25px;
    margin-left: 9em;
    line-height: 1.1em;
}


.tekst {
    padding: 3em;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    line-height: 1.5em;
    border-radius: 2em;

}

.przycisk {
    display: flex;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
    text-decoration: none;
}

footer div img {
    padding: 20px;
    text-decoration: none;
}

footer h6 {
    text-align: center;
    text-decoration: underline;
    color: black;
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    background: #f1f1f1f1;
    border-radius: 2em;
    margin-top: 1em;
}

/* Slides */
.mySlides {
    display: none;
    padding: 80px;
    text-align: center;
    border-radius: 2em;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
    border-radius: 2em;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
    background-color: #717171;
}


/* 1879 */

@media all and (max-width: 850px) {

    /* Sekcja pierwsza */
    #pierwsza {
        font-size: 10px;
    }

    .dummy img{
        display: none;
    }

    .zawartosc1200_pierwsza {
        flex-direction: column;
        align-content: center;
        text-align: center;
        justify-content: center;
        margin-bottom: 30em;
        gap: 3em;
        padding: 1em;
    }

    .zawartosc1200_pierwsza h2 {
        font-size: 20px;
    }

    .zawartosc1200_pierwsza h1 {
        margin-top: 100em;
        font-size: 20px;
    }
    #logo_lewo{
        margin-top: 20em;
        align-content: center;
   }
    #logo_lewo img{
        width: 300px;
        margin-left: 3em;
    }
    #logo_lewo p{
        font-size: 20px;
    }

    /* Sekcja druga */
    .zawartosc1200_druga {
        flex-direction: row;
        font-size: 15px;
    }

    #dziecko1{
        display: none;
    }

    #logo_lewo{
        flex-direction: column;
    }

    #druga h1 {
        display: none;
    }

    #zdjecia_biznesowe {
        flex-direction: column;
        gap: 1em;
    }

    #druga article {
        flex-direction: column;
    }

    #druga article img {
        align-items: center;
        margin: auto;
    }

    #podpisy_biznesowe {
        display: none;
    }

    #podpis {
        background-color: transparent;
        margin-top: 3em;
    }

    /* Sekcja trzecia */
    #trzecia h1 {
        display: none;
    }

    .zawartosc1200_trzecia {
        flex-direction: row;
    }

    #trzecia article {
        flex-direction: column-reverse;
    }

    #trzecia article img {
        align-items: center;
        margin: auto;
    }

    /* Sekcja czwarta */
    .zawartosc1200_czwarta {
        flex-direction: row;
    }

    #czwarta h1 {
        display: none;
    }

    #zdjecia_biznesowe {
        flex-direction: column;
        gap: 1em;
    }

    #czwarta article {
        flex-direction: column-reverse;
    }

    #czwarta article img {
        align-items: center;
        margin: auto;
    }

    #warsztaty p {
        font-size: 15px;
    }

    /* Sekcja piata */
    .zawartosc1200_piata {
        flex-direction: column;
        font-size: 20px;
    }

    #piata h1 {
        display: none;
    }

    #link {
        margin-left: -2em;
    }

    #link p {
        font-size: 35px;
    }

    #cennik {
        margin-top: 10em;
        margin-left: -2em;
    }

    #cennik p {
        font-size: 35px;
    }

    #piata article {
        flex-direction: column-reverse;
    }

    #piata article img {
        align-items: center;
        margin: auto;
    }

    /* Sekcja szosta */
    .zawartosc1200_szosta {
        flex-direction: column;
        font-size: 20px;
    }

    #szosta h1 {
        display: none;
    }

    #szosta article {
        flex-direction: column-reverse;
    }

    #szosta article img {
        align-items: center;
        margin: auto;
    }

    #mapa {
        display: none;
    }

    #kontakt {
        margin-left: 3em;
    }

    nav {
        display: none;
    }

    .burger {
        display: block;
    }

    .nakladka {
        display: block;
    }

    .closebutton {
        display: block;
    }

    .slideshow-container {
        font-size: 15px;
        width: 520px;
        margin-left: 7em;
    }

    .dot-container {
        width: 520px;
        margin-left: 3.25em;
    }

}

@media all and (min-width: 350px) and (max-width: 420px) {

    html, body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    /* Sekcja pierwsza */
    .zawartosc1200_pierwsza {
        flex-direction: column;
        align-content: center;
        text-align: center;
        margin-bottom: 30em;
        gap: 10em;
        padding: 1em;
    }

    .dummy img{
        display: none;
    }

    .zawartosc1200_pierwsza h2 {
        font-size: 5px;
    }

    .zawartosc1200_pierwsza h1 {
        font-size: 5px;
    }

    #dziecko1{
        display: none;
    }




    #pierwsza h1 {
        display: none;
    }

    /* Sekcja druga */
    .zawartosc1200_druga {
        flex-direction: row;
        font-size: 8px;
    }

    #druga h1 {
        display: none;
    }

    #zdjecia_biznesowe {
        flex-direction: column;
        gap: 1em;
    }

    #zdjecia_biznesowe img {
        width: 150px;
    }

    #druga article {
        flex-direction: column;
    }

    #druga article img {
        align-items: center;
        margin: auto;
    }

    #podpisy_biznesowe {
        display: none;
    }

    #podpis {
        background-color: transparent;
        margin-top: 3em;
    }

    /* Sekcja trzecia */
    #trzecia h1 {
        display: none;
    }

    .zawartosc1200_trzecia {
        flex-direction: row;
    }

    #trzecia article {
        flex-direction: column-reverse;
    }

    #trzecia article img {
        align-items: center;
        margin: auto;
    }

    /* Sekcja czwarta */
    .zawartosc1200_czwarta {
        flex-direction: row;
    }

    #czwarta h1 {
        display: none;
    }

    #zdjecia_biznesowe {
        flex-direction: column;
        gap: 1em;
    }

    #czwarta article {
        flex-direction: column-reverse;
    }

    #czwarta article img {
        align-items: center;
        margin: auto;
    }

    #warsztaty p {
        font-size: 11px;
        width: 350px;
        margin-left: 10px;
    }

    #warsztaty h2 {
        margin-left: 10px;
    }

    /* Sekcja piata */
    .zawartosc1200_piata {
        flex-direction: column;
        font-size: 25px;
        gap: 3em;
    }

    #piata h1 {
        display: none;
    }

    #link {
        margin-left: 1px;
    }

    #link p {
        font-size: 20px;
    }

    #cennik {
        margin-top: 10em;
        margin-left: 1px;
    }

    #cennik p {
        font-size: 13px;
    }

    #piata article {
        flex-direction: column-reverse;
    }

    #piata article img {
        align-items: center;
        margin: auto;
    }

    /* Sekcja szosta */
    .zawartosc1200_szosta {
        flex-direction: column;
        text-decoration: none;
        color: black;
        text-decoration: none;
    }

    #szosta h1 {
        display: none;
    }

    #szosta article {
        flex-direction: column-reverse;
    }

    #szosta article img {
        align-items: center;
        margin: auto;
    }

    #mapa {
        display: none;
    }

    #kontakt {
        margin-left: 1px;
        font-size: 21px;
        width: 370px;
        color: black;
        text-decoration: none;
    }

    #kontakt p {
        font-size: 21px;

        text-decoration: none;
        color: black;
        text-decoration: none;
    }

    #kontakt h2 {
        font-size: 25px;
    }

    nav {
        display: none;
    }

    .burger {
        display: block;
    }

    .nakladka {
        display: block;
    }

    .closebutton {
        display: block;
    }

    .slideshow-container {
        font-size: 10px;
        max-width: 350px;
        height: 500px;
        margin-left: 1.25em;

    }

    .mySlides {
        width: 200px;
        height: 100px;

    }

    .dot-container {
        width: 520px;
        margin-left: 3.25em;
        display: none;
    }

}